Repository rtsncs/tykar: changes, and which Woodpecker steps are due for each by the changed paths.
All: publish-backend, publish-frontend

.woodpecker/publish-backend.yaml:

when:
  event: push
  path: 'back/**/*'

variables:
  - &file back/Dockerfile
  - &repo ghcr.io/${CI_REPO}-back

steps:
  publish:
    image: docker.io/woodpeckerci/plugin-docker-buildx:latest
    settings:
      dockerfile: *file
      context: back
      repo: *repo
      registry: ghcr.io
      tags: latest
      username: ${CI_REPO_OWNER}
      password:
        from_secret: gh_token
      cache_images:
        - ghcr.io/${CI_REPO}-back:cache

.woodpecker/publish-frontend.yaml:

when:
  - event: push
    branch: master
    path: 'front/**/*'

variables:
  - &file front/Dockerfile
  - &repo ghcr.io/${CI_REPO}-front

steps:
  publish:
    image: docker.io/woodpeckerci/plugin-docker-buildx:latest
    settings:
      dockerfile: *file
      context: front
      repo: *repo
      registry: ghcr.io
      tags: latest
      username: ${CI_REPO_OWNER}
      password:
        from_secret: gh_token
      cache_images:
        - ghcr.io/${CI_REPO}-front:cache

feat(back): dice poker
  back/lib/tykar/games/dice_poker.ex
  back/lib/tykar/games/dice_poker/server.ex
  back/lib/tykar/games/seat.ex
  back/test/tykar/accounts_test.exs
  back/test/tykar/games/dice_poker_test.exs
  back/test/tykar_web/controllers/error_json_test.exs
  back/test/tykar_web/controllers/user_confirmation_controller_test.exs.disabled
  back/test/tykar_web/controllers/user_registration_controller_test.exs
  back/test/tykar_web/controllers/user_reset_password_controller_test.exs.disabled
  back/test/tykar_web/controllers/user_session_controller_test.exs
  back/test/tykar_web/controllers/user_settings_controller_test.exs.disabled
  back/test/tykar_web/user_auth_test.exs
Due: publish-backend

refactor(backend): game refactor
  back/lib/tykar/game.ex
  back/lib/tykar/game/card.ex
  back/lib/tykar/game/dice_poker.ex
  back/lib/tykar/game/dice_poker/server.ex
  back/lib/tykar/game/gen_game_server.ex
  back/lib/tykar/game/makao.ex
  back/lib/tykar/game/makao/player.ex
  back/lib/tykar/game/makao/server.ex
  back/lib/tykar/game/seat.ex
  back/lib/tykar/games/dice_poker/server.ex
  back/lib/tykar/games/seat.ex
  back/lib/tykar_web/channels/makao_channel.ex
  back/lib/tykar_web/router.ex
Due: publish-backend

feat(backend): dice poker channel
  back/lib/tykar/application.ex
  back/lib/tykar/game/dice_poker.ex
  back/lib/tykar/game/dice_poker/server.ex
  back/lib/tykar/game/gen_game_server.ex
  back/lib/tykar_web/channels/dice_poker_channel.ex
  back/lib/tykar_web/channels/dice_poker_lobby_channel.ex
  back/lib/tykar_web/channels/gen_game_channel.ex
  back/lib/tykar_web/channels/gen_lobby_channel.ex
  back/lib/tykar_web/channels/user_socket.ex
Due: publish-backend

refactor(front): reorganize components
  front/bun.lockb
  front/openapitools.json
  front/package.json
  front/src/components/games/CardHand.tsx
  front/src/components/games/Chat.tsx
  front/src/components/games/ChatMessage.tsx
  front/src/components/games/PlayerHand.tsx
  front/src/components/games/PlayingCard.tsx
  front/src/components/games/Seat.tsx
  front/src/components/games/Seats.tsx
  front/src/components/games/UserList.tsx
  front/src/components/games/makao/MakaoDemandModal.tsx
  front/src/components/games/makao/MakaoGameFinishedModal.tsx
  front/src/components/games/makao/MakaoTable.tsx
  front/src/routes/MakaoRoom.tsx
Due: publish-frontend

chore(backend): remove liveview dependencies
  back/config/dev.exs
  back/config/test.exs
  back/lib/tykar_web/endpoint.ex
  back/lib/tykar_web/router.ex
  back/mix.exs
  back/mix.lock
Due: publish-backend

feat: chat improvements, system messages
  front/public/locales/en.json
  front/public/locales/pl.json
  front/src/@types/tykar.d.ts
  front/src/components/games/Sidebar/Chat.tsx
  front/src/components/games/Sidebar/UserList.tsx
  front/src/components/games/Sidebar/index.tsx
  front/src/hooks/ChatProvider.tsx
  front/src/hooks/DicePokerProvider.tsx
  front/src/routes/DicePokerRoom.tsx
Due: publish-frontend

feat: finish dice poker
  back/lib/tykar/game.ex
  back/lib/tykar/game/dice_poker.ex
  front/public/locales/en.json
  front/public/locales/pl.json
  front/src/components/games/DicePokerTable.tsx
  front/src/components/games/Die.tsx
  front/src/components/games/PlayerHand.tsx
  front/src/components/games/Sidebar/Seat.tsx
  front/src/hooks/DicePokerProvider.tsx
Due: publish-backend, publish-frontend

refactor: makao refactor
  back/lib/tykar/game/makao.ex
  back/lib/tykar/game/makao/player.ex
  back/lib/tykar/game/makao/server.ex
  back/lib/tykar_web/channels/makao_channel.ex
  back/lib/tykar_web/channels/makao_lobby_channel.ex
  front/src/components/games/CardHand.tsx
  front/src/components/games/Makao/MakaoGameFinishedModal.tsx
  front/src/components/games/Makao/MakaoTable.tsx
  front/src/components/games/PlayerHand.tsx
  front/src/components/games/PlayingCard.tsx
  front/src/hooks/MakaoProvider.tsx
  front/src/routes/MakaoRoom.tsx
Due: publish-backend, publish-frontend

feat(frontend): add proper main page layout, add icons to header
  front/public/locales/en.json
  front/public/locales/pl.json
  front/src/components/Header.tsx
  front/src/components/ui/link.tsx
  front/src/pages/Index.tsx
Due: publish-frontend

fix(frontend): header styling fixes
  front/bun.lockb
  front/src/components/Header.tsx
Due: publish-frontend
